.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  width: 100vw;
  height: auto;
  padding: 1rem 1rem;
}

.left-side,
.right-side {
  width: 100%;
  padding: 1rem;
}

.chat-list {
  width: 100%;
}


@media (max-width: 800px) {
  .chat {
    display: block;
  }

  .chat-list {
    flex-direction: row;
    overflow-x: scroll;
    gap: 3rem;
  }
}
