.background-image {
  background-image: url("../../assets/desktopBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
}

.welcome-container {
  width: 50%;
  padding: 1rem 2rem;
  margin-top: 8rem;
  align-items: flex-start;
}
.welcome-title {
  font-size: 4rem;
  text-align: left;
}

.welcome-message {
  font-size: 1rem;
  text-align: left;
  max-width: 70%;
  font-weight: 500;
}

.welcome-button {
  width: 20%;
}

@media (max-width: 600px) {
  .background-image {
    background-image: url("../../assets/mobileBackground.svg");
    align-items: center;
  }

  .welcome-container {
    display: block;
    height: 100vh;
    width: 90%;
    margin-top: 8rem;
    align-items: center;
  }

  .welcome-message {
    max-width: 100%;
    font-size: 0.8rem;
  }

  .welcome-button {
    margin: 20rem auto 0;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .welcome-container {
    width: 90%;
    padding: 1rem 2rem;
    margin-top: 8rem;
  }
}
