.bottom-navigation-container {
  width: 100vw;
  box-shadow: 0px -5px 10px rgba(64, 64, 64, 0.06);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icon {
  color: #31b15c;
}

.bottom-nav-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
}
