.price-filter-modal {
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 25%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.padding {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.close-modal-btn {
  cursor: pointer;
  color: #31b15c;
}

.filter-btn {
  width: 30%;
  padding: 0.3rem 0;
  align-self: center;
}

.price-tag,
.price-tag:not(:placeholder-shown) {
  max-width: 5rem;
  max-height: 1.5rem;
  border-bottom: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.price-tag:focus,
.price-tag:focus:not(:placeholder-shown) {
  border: 1px solid #31b15c;
}

.price-container {
  display: flex;
  gap: 0.2rem;
}

.slider {
  height: 5px;
  border-radius: 5px;
  background-color: #dddddd;
  width: 100%;
}

.slider .thumb {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #5cb965;
  top: -7px;
}

.slider .track-1 {
  background-color: #5cb965;
  height: 100%;
}

@media (max-width: 800px) {
  .price-filter-modal {
    width: 70%;
  }
}
