.login-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

@media (max-width: 800px) {
  .login-page-container {
    background-image: url("../assets/fondo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
