.chat-container,
.chat-input {
  width: 100%;
}

.chat-body {
  width: 100%;
  height: 60vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  overflow-y: auto;
}

.message > * {
  margin-bottom: 0.5rem;
  background-color: #239b4c;

  border-radius: 10px;
  padding: 0.5rem 1rem;

  display: inline-block;
  max-width: 100%;
}

.message {
  text-align: left;
}

.message > * > * {
  color: #ffffff;
}

.own {
  text-align: right;
}
.own * {
  background-color: rgb(243, 243, 243);
  color: #2c2c2c;
}

.other-message {
  align-self: flex-start;
}

.date {
  font-size: 0.6rem;
}

.react-input-emoji--button:hover {
  background-color: transparent;
}
