.map-switcher {
  background-color: white;
  color: #333333;
  border: 1px solid #239b4c;
  transition: 0.2s ease-in-out;
  position: fixed;
  bottom: 5rem;
}

.map-switcher:hover {
  color: white;
  transform: scale(1.1);
}

