.settings-container {
  padding: 2rem 0;
  width: 50%;
  height: 80vh;
  cursor: pointer;
}

.btn-close-session {
  width: 100%;
  align-self: center;
}

@media (max-width: 800px) {
  .settings-container {
    width: 90%;
  }
}
