.my-bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  width: 100%;
}

.mybicycle-container {
  width: 50%;
}

@media (max-width: 800px) {
  .my-bikes > * {
    width: 40vw;
  }
  .mybicycle-container {
    width: 90%;
  }
}
