.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 90%;
    margin-bottom: 5rem;
  }
  
  @media (max-width: 800px) {
    .items-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
    }
  }
  