#root {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-bikewave {
  width: 8rem;
  margin: 1rem 1rem;
}
