.detailed-item-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: auto;
  text-align: start;
  width: 100vw;
}

.title {
  font-size: 2rem;
}

.like-text {
  color: #31b15c;
  font-weight: 700;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.secondary-btn {
  background-color: white;
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
}

.secondary-btn:disabled {
  opacity: 0.1;
}

.secondary-btn:hover {
  background-color: white;
  border: 1px solid #969696;
  color: #969696;
}

.bicycle-description,
.owner-name {
  font-weight: 300;
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  .detailed-item-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .details {
    width: 90%;
    padding: 0;
    margin-bottom: 6rem;
  }
}
